*, *:before, *:after {
	box-sizing: border-box;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: #23232c;
	color: #FFFFFF;
  font-family: Open Sans, Arial, sans-serif;
}

.deezer-app-container {
	display: block;
	margin: 0 auto;
	padding: 0 20px 20px;
	max-width: 1200px;
}

.site-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 40px;
	text-align: center;
}

input[type="text"] {
	width: 100%;
  padding: 0.4em;
  font-size: 16px;
  box-shadow: none;
  border-radius: 0.2em;
}

.msg-no-results {
	display: block;
  margin: 40px auto;
  text-align: center;
  font-size: 30px;
}

.track-list-container {
	margin-top: 40px;
	text-align: left;
}

.data-grid {
	display: block;
  font-size: 14px;
	border-radius: 4px;
	overflow: hidden;
}

.data-grid__row {
	display: block;
	width: 100%;
}

.data-grid__row:nth-child(even) {background-color: #15151e;}

.data-grid__cell {
	float: left;
	padding: 10px;
  word-break: break-word;
} 

.data-grid__cell--image {
	width: 64px;
}
.data-grid__cell--image img {
  width: 40px;
}

.data-grid__cell--artist,
.data-grid__cell--track {
	width: calc(50% - 32px);
	padding-top:24px;
}

.data-grid .data-grid__row--header {
  border-bottom: 1px solid #444665;
}

.data-grid__cell--header.data-grid__cell--artist,
.data-grid__cell--header.data-grid__cell--track {
	cursor: pointer;
	padding-top: 10px;
}

.data-grid__cell--header.data-grid__cell--artist:hover,
.data-grid__cell--header.data-grid__cell--track:hover {
	color: #40b4e6;
}

.total-tracks {
	display: block;
	padding-top: 20px;
	text-align: center;
	font-size: 16px;
  border-top: 1px solid #444665;
}

.sorting-asc:after,
.sorting-desc:after {
  display: inline-block;
  margin-left: 8px;
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
}

.sorting-asc:after {
  border-top: 0.75em solid #FFFFFF;
}
.sorting-asc:hover:after {
  border-top-color: #40b4e6;
}

.sorting-desc:after {
  border-bottom: 0.75em solid #FFFFFF;
}
.sorting-desc:hover:after {
  border-bottom-color: #40b4e6;
}





.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 40px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
